*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h2{
  text-align: center;
}

h3{
  text-align: center;
}

p{
  font-size: 14px;
  text-align: center;
  text-wrap: wrap;
  padding: 40px;
}

.logo{
  width: 60% ;
  height: auto;
  display: flex;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}